<canvas #canvas
        class="gdg-image-canvas">
</canvas>

<input #fileInput
       type="file"
       accept="image/*"
       (change)="loadImage($event.srcElement || $event.currentTarget)"/>

<button *ngIf="!this.image"
        md-raised-button
        color="accent"
        (click)="fileInput.click()">
  Selecciona una foto
</button>

<div *ngIf="this.image"
     fxLayout="row"
     fxLayoutGap="16px">
  <button md-raised-button
          fxFlex="1 1"
          color="accent"
          (click)="fileInput.click()">
    No me gusta, otra
  </button>
  <a #saveButton
          md-raised-button
          fxFlex="1 1"
          color="accent"
          (click)="saveImage(saveButton)">
    Guardar
  </a>
</div>

