:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  & > *:first-child {
    margin-bottom: 16px;
  }
  padding: 0 16px;
}

.dg-image-canvas {
  width: 100%;
}

canvas {
  width: calc( 100vh - 64px - 16px - 16px - 36px - 16px );
  max-width: calc(100vw - 32px );
}

@media (max-width: 600px) {
  canvas {
    width: calc( 100vh - 56px - 16px - 16px - 36px - 16px )
  }
}

input {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0;
}


