.gdg-toolbar {
  background: $color-primary;
  color: $color-primary-foreground;
  height: $toolbar-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  box-shadow: 0 0px 11px rgba(0,0,0,0.4);
  z-index: 100;

  h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
  }

  .logo {
    width: 80px;
  }
}
