<header>
  <md-toolbar color="primary">
      <span>Photo Eventify - GDG Version</span>
  </md-toolbar>
</header>

<div class="gdg-container"
     fxLayout="column"
     fxLayoutAlign="start center"
     fxLayoutGap="10px">
    <div fxLayout="column"
         fxLayoutAlign="start center"
         fxLayoutGap="10px"
         fxFlex="1 1 100%"
         >
      <div class="photo-wrapper"
          #photoGrabber>
        <gdg-photo-grabber
          minWidth="200"
          maxWidth="200"
        ></gdg-photo-grabber>
      </div>
    </div>
</div>


