$color-primary: #fff;
$color-primary-foreground: #888;
$color-secondary: #1EBCA4;
$color-secondary-foreground: #fff;
$toolbar-height: 56px;
$base-margin: 16px;
$disabled-color: #999999;

body {
  font-family: roboto, helvetica;
  margin: 0;
}
@import 'app/ui/**/*.scss';
